<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
    <style>
        header {
            background-color: #f2f2f2;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header h1 {
            margin: 0;
        }

        header a.button {
            text-decoration: none;
            color: white;
            background-color: #007bff;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
        }
    </style>
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
        <a>Hi</a>
    {% endblock %}
</body>
</html>