<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Laptops</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'laptops_list' %}">List<span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'laptop_add' %}">Add laptop</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'view_favorites' %}">Favorites</a>
          <a class="dropdown-item" href="{% url 'view_cart' %}">Cart</a>
          <a class="dropdown-item" href="{% url 'my_laptops' %}">My Laptops</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'my_profile' %}">Edit account</a>
        </div>
      </li>
      {% endif %}
    </ul>

    {% if request.user.is_authenticated %}
    <form class="form-row my-2 my-lg-0" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="btn btn-outline-success  my-sm-0" type="submit">Log out</button>
    </form>
    {% else %}
    {% if is_login %}
    {% else %}
    <form class="form-row my-2 my-lg-0" action="{% url 'login' %}?next={{ request.path }}" method="post">
      {% csrf_token %}
      <button class="btn btn-outline-success  my-sm-0" type="submit">Log in</button>
    </form>
    {% endif %}
    {% endif %}

  </div>
</nav>